h1,h4,h3{
    text-align: center;
    font-weight: bold;
}
/* 이거 어디다가 붙여야하나... */
.block1{
    background-color:rgb(102, 198, 236);
    width:80%;;
    height:40%;
    padding :10%;
    
    /* float : left; */
    /* margin-right:50px; */
   
}
